<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact App</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="assets/js/validateLogin.js"></script>
  </head>
  <body>
    <h1>Bienvenido a la Contact App</h1>
    <nav>
      <ul>
        <li><a href="users.html">Usuarios</a></li>
        <li><a href="contacts.html">Contactos</a></li>
        <li><a href="groups.html">Grupos</a></li>
      </ul>
    </nav>
    <button onclick="logout()">Cerrar Sesión</button>
  </body>
</html>
